
#board {

  h1 {
    color: $primary-grey;
  }
  
  margin-top: 40px;

  #board-profile {

    border: solid 2px $primary-pink;
    border-radius: 4px;
    margin-left: 20px;
    width: 22%;
    height: 200px;
    float: left;
    padding-top: 15px;

    #board-profile-top {
      img {
        height: 70px;
        margin: 8px;
        border-radius: 4px;
      }
      h4 {
        display: inline;
      }
    }

    #board-profile-bottom {
      margin-top: 5px;
      padding: 0 20px;
      p {
        text-align: center;
      }
    }

  }

  #oinks-container {

    width: 80%;
    max-width: 600px;
    margin: 0 auto;

    #recent-oinks {
      // border: 2px solid $primary-pink;
      // border-radius: 4px;
      h3 {
        color: $primary-grey;
      }
    }

    width: 80%;
    max-width: 500px;
    margin: 0 auto;

    .oink {
      border: 2px solid $primary-pink;
      border-radius: 4px;
      margin: 10px 0;
      height: 75px;
      .avatar-container {
        padding: 4px;
        float: left;
        .avatar {
          height: 65px;
        }
      }
    }


  }

}
