
#board {

  h1 {
    color: $primary-grey;
  }

  .profile {

    border: solid 2px $primary-pink;
    border-radius: 4px;
    width: 85%;
    height: 200px;
    padding: 15px;
    box-shadow: 0px 5px 10px #b7b7b7;
    color: $primary-grey;

    @media only screen and (min-width: 768px){
      margin: 0 0 0 40px;
    }

    @media only screen and (max-width: 767px){
      margin: 0 auto;
    }

    .profile-top {

      height: 50%;
      margin-bottom: 20px;

      .profile-avatar-wrapper {
        display: inline-block;
        width: 40%;
        height: 100%;
        @media only screen and (max-width: 767px){
          margin: 0 auto;
        }
        img {
          max-width: 100%;
          max-height: 100%;
          border-radius: 4px;
          display: block;
          margin: 0 auto;
        }
      }

      .profile-username-wrapper {
        display: inline-block;
        width: 55%;
        position: relative;
        bottom: 15px;
        word-wrap: break-word;
        margin-left: 5%;
        @media only screen and (max-width: 767px){
          margin: 0 auto;
        }
        h3, h4 {
          text-align: center;
        }
      }

    }

    .profile-bio-container {
      p {
        text-align: center;
      }
    }

    .profile-bottom {
      margin-top: 15px;
      p {
        text-align: center;
      }
      h5 {
        text-align: center;
      }
    }

  }

  #oinks-container {

    .oinks-container-header-container {
      width: 85%;
      @media only screen and (min-width: 768px){
        margin: 0px 20px 20px 0px;
      }
      @media only screen and (max-width: 767px){
        margin: 20px auto;
      }
      .oinks-container-header {
        color: $primary-grey;
        text-align: center;
        margin-top: 0;
      }
    }

    #submit-oink {

      border: 2px solid $primary-pink;
      box-shadow: 0px 5px 10px #b7b7b7;
      border-radius: 4px;
      margin: 0px 20px 20px 0;
      width: 85%;
      overflow: auto;

      @media only screen and (max-width: 767px){
        margin: 20px auto 0;
      }

      #submit-oink-input {
        width: 95%;
        margin: 10px auto;

        .submit-oink-button-wrapper {
          width: 40%;
          margin: 0 auto;
        }

        input {
          width: 95%;
        }

        textarea {
          width: 98%;
        }

        input, textarea {
          border-color: #9e9e9e;
          background-color: #d4d2d2;
          color: $primary-grey;
          margin: 5px auto 0;
        }

        ::-webkit-input-placeholder {
          color: $primary-grey;
        }
        :-moz-placeholder {
           color: $primary-grey;
           opacity: 1;
        }
        ::-moz-placeholder {
           color: $primary-grey;
           opacity: 1;
        }
        :-ms-input-placeholder {
          color: $primary-grey;
        }

      }

    }

    #oinks-feed {

    }

    #recent-oinks {
      h3 {
        color: $primary-grey;
      }
    }

    .oink {
      box-shadow: 0px 5px 10px #b7b7b7;
      color: $primary-grey;
      border: 2px solid $primary-pink;
      border-radius: 4px;
      width: 85%;
      height: 80px;
      padding-top: 1px;
      @media only screen and (min-width: 768px){
        margin: 0px 20px 20px 0px;
      }
      @media only screen and (max-width: 767px){
        margin: 20px auto;
      }
      .avatar-container {
        padding: 4px;
        float: left;
        display: inline-block;
        .avatar {
          height: 65px;
          border-radius: 4px;
          margin-right: 10px;
        }
      }
      .right-container {
        padding-right: 10px;
        h4 {
          font-weight: bold;
          margin-bottom: 0;
          display: inline-block;
          &:hover {
            text-decoration: underline;
          }
        }
        .oink-username-link {
          color: $primary-grey;
        }
        .date-time {
          margin-left: 4px;
        }
      }
    }


  }

}
