
#home {

  #home-container {

    width: 50%;
    max-width: 400px;
    margin: 40px auto 30px;


    #home-description-container {

      h2, p {
        color: $primary-grey;
        text-align: center;
      }

    }

  }

}
