#settings {

  width: 300px;
  margin-left: auto;
  margin-right: auto;

  input, textarea {
    border-color: #9e9e9e;
    background-color: #d4d2d2;
  }

  ::-webkit-input-placeholder {
    color: $primary-grey;
  }
  :-moz-placeholder {
     color: $primary-grey;
     opacity: 1;
  }
  ::-moz-placeholder {
     color: $primary-grey;
     opacity: 1;
  }
  :-ms-input-placeholder {
    color: $primary-grey;
  }

  .settings-picture {
    height: 200px;
    width: 200px;
    margin: 0 auto 20px;
    border-radius: 4px;
    img {
      height: 100%;
      border-radius: 4px;
    }
  }

  #reset-picture {
    cursor: pointer;
    text-align: center;
    margin-top: -10;
    &:hover {
      text-decoration: underline;
    }
  }

  #save-button {
    margin-bottom: 20px;
  }

}
