
#sign-up {

  width: 100%;
  max-width: 300px;
  margin: 40px auto 0;

  h3 {
    text-align: center;
    color: $primary-grey;
  }

  form {

    input[type='submit'] {
      width: 140px;
      margin: 0 auto;
    }

    input, textarea {
      border-color: #9e9e9e;
      background-color: #d4d2d2;
    }

  }

  ::-webkit-input-placeholder {
    color: $primary-grey;
  }
  :-moz-placeholder {
     color: $primary-grey;
     opacity: 1;
  }
  ::-moz-placeholder {
     color: $primary-grey;
     opacity: 1;
  }
  :-ms-input-placeholder {
    color: $primary-grey;
  }

}
