
#sign-up {

  width: 100%;
  max-width: 300px;
  margin: 40px auto 0;

  h3 {
    text-align: center;
    color: $primary-grey;
  }

  form {

    input[type='submit'] {
      width: 140px;
      margin: 0 auto;
      color: $primary-pink;
    }

  }

}
