
#user-profile {

  margin-top: 30px;

  .profile {

    border: solid 2px $primary-pink;
    border-radius: 4px;
    width: 85%;
    height: 200px;
    margin: 0 0 0 40px;
    padding: 15px;
    box-shadow: 0px 5px 10px #b7b7b7;
    color: $primary-grey;

    .profile-top {

      height: 50%;

      .profile-avatar-wrapper {
        display: inline-block;
        width: 35%;

        img {
          max-width: 100%;
          vertical-align: bottom;
          border-radius: 4px;
        }
      }

      .profile-username-wrapper {
        display: inline-block;
        width: 65%;
        position: relative;
        bottom: 15px;
        h3, h4 {
          text-align: center;
        }
      }

    }

    .profile-bottom {
      margin-top: 15px;
      p {
        text-align: center;
      }
      h5 {
        text-align: center;
      }
    }

  }

  #profile-feed {

    width: 70%;
    max-width: 600px;
    margin: 0 auto;

    .oink {
      box-shadow: 0px 5px 10px #b7b7b7;
      color: $primary-grey;
      border: 2px solid $primary-pink;
      border-radius: 4px;
      margin: 0px 20px 20px 0;
      width: 85%;
      height: 80px;
      .avatar-container {
        padding: 4px;
        float: left;
        .avatar {
          height: 65px;
          border-radius: 4px;
        }
      }
    }

  }

}
